.main_header-wrapper {
  @include flex_center;
  justify-content: unset;
  height: 60px;
  max-width: 100%;
  padding: 0 45px 0px;
  // background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent 100%);

  z-index: 9;
  position: fixed;
  top: 0;
}

.main_header-inner {
  width: 1400px;
  @include flex_center;
  justify-content: space-between;
}

.main_header-inner_left {
  @include flex_center;
  justify-content: unset;

  &_logo {
    margin-right: 30px;
  }

  &_nav {
    height: 60px;
    & .list {
      display: flex;

      &_item {
        margin-right: 20px;

        & a {
          font-size: 1.1rem;
          display: block;
          color: $white_text_color;
          line-height: 60px;
          transition: .3s;
        }

        &:hover a {
          color: rgb(229, 0, 0);
        }
      }
    }
  }
}

.main_header-inner_right {
  @include flex_center;
  align-items: flex-end;

  &_search {
    @include flex_center;

    & .input {
      width: 400px;
      border-radius: 5px;
    }
    & .icon {
      @include defalut_header_icon;
    }
  }

  &_noti {
    @include flex_center;
    & .icon {
      @include defalut_header_icon;
    }
  }

  &_user {
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 5px;

    & img {
      object-fit: cover;
      width: 100%;
    }
  }
}
