.signupform-wrapper{
    width: 450px;
    height: 500px;
    margin: 0 auto;
    padding: 5px 68px 20px;
    background-color: $black_background_color;
    border-radius: 3px;
}
.signupform-inner{
    border-radius: 3px;
    height: 370px;
    width: 314px;

    &-title {
        font-size: 2rem;
        margin-bottom: 28px;
        font-weight: 500;
        color: $white_text_color;

    }

    &-form {
        @include flex_center;
        align-items: flex-start;
        flex-direction: column;

        &-label {
            color: $white_text_color;
            font-size: 1rem;
            margin-bottom: 5px;
        }

        &-input{
            @include default_input;
            padding: 5px 20px;
            font-size: 1.1rem;
            width: 100%;
            margin-bottom: 16px;
            border-radius: 4px;
        }

        &-submit {
            @include default_btn($white_text_color, $red_background, $btn_hover_background);
            min-width: 100%;
            margin-top: 24px;
            padding: 16px;
            font-size: 1rem;
        }
    }

    &-signup{
        display: flex;
        color: $white_text_color;
        margin-top: 20px;

        &-title{
            font-size: 1rem;
            margin-right: 5px;
        }

        &-link {
            color: $red_background;
            font-size: 1rem;
        }
    }
}
    