@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 62, 5%;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.main_header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: unset;
  height: 60px;
  max-width: 100%;
  padding: 0 45px 0px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent 100%);
  z-index: 9;
  position: fixed;
  top: 0;
}

.main_header-inner {
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.main_header-inner_left {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: unset;
}
.main_header-inner_left_logo {
  margin-right: 30px;
}
.main_header-inner_left_nav {
  height: 60px;
}
.main_header-inner_left_nav .list {
  display: flex;
}
.main_header-inner_left_nav .list_item {
  margin-right: 20px;
}
.main_header-inner_left_nav .list_item_noactive {
  font-size: 1.1rem;
  display: block;
  color: white;
  line-height: 60px;
  transition: 0.3s;
}
.main_header-inner_left_nav .list_item_active {
  font-size: 1.1rem;
  display: block;
  line-height: 60px;
  transition: 0.3s;
  color: #e50914;
}
.main_header-inner_left_nav .list_item:hover a {
  color: rgb(229, 0, 0);
}

.main_header-inner_right {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.main_header-inner_right_search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_header-inner_right_search .input {
  width: 400px;
  border-radius: 5px;
}
.main_header-inner_right_search .icon {
  color: white;
  font-size: 1.2rem;
  margin-right: 15px;
  transition: 0.3s;
}
.main_header-inner_right_search .icon:hover {
  cursor: pointer;
  color: rgb(229, 0, 0);
}
.main_header-inner_right_noti {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_header-inner_right_noti .icon {
  color: white;
  font-size: 1.2rem;
  margin-right: 15px;
  transition: 0.3s;
}
.main_header-inner_right_noti .icon:hover {
  cursor: pointer;
  color: rgb(229, 0, 0);
}
.main_header-inner_right_user {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 5px;
}
.main_header-inner_right_user img {
  object-fit: cover;
  width: 100%;
}

.hide {
  display: none;
}

.movieitem_wrapper {
  width: 200px;
  height: 300px;
}

.movieitem_inner {
  min-width: 200px;
  min-height: 300px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.3s;
}
.movieitem_inner img {
  border-radius: 10px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.7);
}
.movieitem_inner_info {
  max-width: 190px;
  position: relative;
  padding: 140px 0 0 20px;
}
.movieitem_inner_info .title p {
  max-width: 150px;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.movieitem_inner_info .rate {
  font-size: 0.8rem;
  color: white;
}
.movieitem_inner_info .control {
  font-size: 2.5rem;
  color: white;
  transition: 0.3s;
}
.movieitem_inner_info .control:hover {
  color: #e50914;
}
.movieitem_inner:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(110, 110, 110);
}

.toprate_wrapper {
  width: 100%;
  padding: 30px 10px 10px;
  background-color: black;
}
.toprate_wrapper_title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: unset;
  color: white;
}
.toprate_wrapper_movies {
  max-width: 100%;
  padding: 20px;
}

.comingitem_wrapper {
  width: 1000px;
  height: 300px;
}

.comingitem_inner {
  min-width: 1000px;
  min-height: 300px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.3s;
}
.comingitem_inner img {
  border-radius: 10px;
  width: 1000px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.7);
}
.comingitem_inner_info {
  max-width: 400px;
  position: relative;
  padding: 120px 0 0 20px;
}
.comingitem_inner_info .title p {
  max-width: 400px;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
}
.comingitem_inner_info .description p {
  font-size: 1rem;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.comingitem_inner:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(110, 110, 110);
}

.active {
  color: #e50914;
}

.upcoming_wrapper {
  width: 100%;
  padding: 30px 10px 10px;
  background-color: black;
}
.upcoming_wrapper_title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: unset;
  color: white;
}
.upcoming_wrapper_movies {
  width: 100%;
  padding: 20px;
}

.TVStoprate_wrapper {
  width: 200px;
  height: 300px;
}

.TVStoprate_inner {
  min-width: 200px;
  min-height: 300px;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.3s;
}
.TVStoprate_inner img {
  border-radius: 10px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.7);
}
.TVStoprate_inner_info {
  max-width: 190px;
  position: relative;
  padding: 140px 0 0 20px;
}
.TVStoprate_inner_info .title p {
  max-width: 150px;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.TVStoprate_inner_info .rate {
  font-size: 0.8rem;
  color: white;
}
.TVStoprate_inner_info .control {
  font-size: 2.5rem;
  color: white;
  transition: 0.3s;
}
.TVStoprate_inner_info .control:hover {
  color: #e50914;
}
.TVStoprate_inner:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(110, 110, 110);
}

.TVtoprate_wrapper {
  width: 100%;
  padding: 30px 10px 10px;
  background-color: black;
}
.TVtoprate_wrapper_title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: unset;
  color: white;
}
.TVtoprate_wrapper_movies {
  max-width: 100%;
  padding: 20px;
}

.wrapper {
  max-width: 100%;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/79fe83d4-7ef6-4181-9439-46db72599559/d496a7b3-9b8c-4782-9399-2384ea121f85/VN-vi-20221017-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.wrapper .inner {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0, transparent 60%, rgba(0, 0, 0, 0.8));
  max-width: 100%;
  height: 100vh;
}

.header-wrapper {
  height: 6.5rem;
  padding: 20px 45px 0px;
}

.header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  max-width: 100%;
}
.header-inner-control button {
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  padding: 7px 17px;
  transition: 0.3s;
}
.header-inner-control button:hover {
  cursor: pointer;
  background-color: #be0711;
}
.header-inner-control button a {
  color: white;
}
.header-inner-control .pri-btn {
  margin-right: 30px;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.hero-inner {
  max-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero-inner .hero-title {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 650px;
}
.hero-inner .hero-title-pri {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  margin: unset;
}
.hero-inner .hero-title-second {
  color: white;
  margin-top: 15px;
  font-size: 1.6rem;
}
.hero-inner .hero-contact-title {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 25px;
}
.hero-inner .hero-contact-input input {
  outline: none;
  color: black;
  min-width: 450px;
  min-height: 60px;
  padding: 10px;
  font-size: 1.2rem;
}
.hero-inner .hero-contact-input button {
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  padding: 7px 17px;
  transition: 0.3s;
  min-height: 60px;
  padding: 0px 26px;
  font-size: 1.2rem;
}
.hero-inner .hero-contact-input button:hover {
  cursor: pointer;
  background-color: #be0711;
}

.loginform-wrapper {
  width: 450px;
  height: 500px;
  margin: auto;
  padding: 35px 68px 40px;
  background-color: #000000;
  border-radius: 3px;
}

.loginform-inner {
  border-radius: 3px;
  height: 370px;
  width: 314px;
}
.loginform-inner-title {
  font-size: 2.2rem;
  margin-bottom: 28px;
  font-weight: 500;
  color: white;
}
.loginform-inner-form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
}
.loginform-inner-form-label {
  color: white;
  font-size: 1rem;
  margin-bottom: 5px;
}
.loginform-inner-form-input {
  outline: none;
  color: black;
  padding: 12px 20px;
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
}
.loginform-inner-form-submit {
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  padding: 7px 17px;
  transition: 0.3s;
  min-width: 100%;
  margin-top: 24px;
  padding: 16px;
  font-size: 1rem;
}
.loginform-inner-form-submit:hover {
  cursor: pointer;
  background-color: #be0711;
}
.loginform-inner-signup {
  display: flex;
  color: white;
  margin-top: 20px;
}
.loginform-inner-signup-title {
  font-size: 1rem;
  margin-right: 5px;
}
.loginform-inner-signup-link {
  color: #e50914;
  font-size: 1rem;
}

.signupform-wrapper {
  width: 450px;
  height: 500px;
  margin: 0 auto;
  padding: 5px 68px 20px;
  background-color: #000000;
  border-radius: 3px;
}

.signupform-inner {
  border-radius: 3px;
  height: 370px;
  width: 314px;
}
.signupform-inner-title {
  font-size: 2rem;
  margin-bottom: 28px;
  font-weight: 500;
  color: white;
}
.signupform-inner-form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
}
.signupform-inner-form-label {
  color: white;
  font-size: 1rem;
  margin-bottom: 5px;
}
.signupform-inner-form-input {
  outline: none;
  color: black;
  padding: 5px 20px;
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
}
.signupform-inner-form-submit {
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  padding: 7px 17px;
  transition: 0.3s;
  min-width: 100%;
  margin-top: 24px;
  padding: 16px;
  font-size: 1rem;
}
.signupform-inner-form-submit:hover {
  cursor: pointer;
  background-color: #be0711;
}
.signupform-inner-signup {
  display: flex;
  color: white;
  margin-top: 20px;
}
.signupform-inner-signup-title {
  font-size: 1rem;
  margin-right: 5px;
}
.signupform-inner-signup-link {
  color: #e50914;
  font-size: 1rem;
}

.home_inner_hero_poster {
  max-width: 100%;
  height: 600px;
}
.home_inner_hero_poster_img {
  filter: brightness(0.7);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.home_inner_hero_poster_info {
  max-width: 700px;
  position: relative;
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
  top: 220px;
  left: 45px;
}
.home_inner_hero_poster_info .title {
  margin-bottom: 10px;
}
.home_inner_hero_poster_info .description {
  font-weight: 500;
  max-width: 400px;
  height: 100px;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home_inner_hero_poster_info .control {
  margin-top: 12px;
}
.home_inner_hero_poster_info .control button {
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  padding: 7px 17px;
  transition: 0.3s;
  font-size: 1.2rem;
  padding: 5px 35px;
  font-weight: 400;
}
.home_inner_hero_poster_info .control button:hover {
  cursor: pointer;
  background-color: #be0711;
}

.tvshow_inner_hero_poster {
  max-width: 100%;
  height: 600px;
}
.tvshow_inner_hero_poster_img {
  filter: brightness(0.7);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.tvshow_inner_hero_poster_info {
  max-width: 700px;
  position: relative;
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
  top: 220px;
  left: 45px;
}
.tvshow_inner_hero_poster_info .title {
  margin-bottom: 10px;
}
.tvshow_inner_hero_poster_info .description {
  font-weight: 500;
  max-width: 400px;
  height: 100px;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tvshow_inner_hero_poster_info .control {
  margin-top: 12px;
}
.tvshow_inner_hero_poster_info .control button {
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  padding: 7px 17px;
  transition: 0.3s;
  font-size: 1.2rem;
  padding: 5px 35px;
  font-weight: 400;
}
.tvshow_inner_hero_poster_info .control button:hover {
  cursor: pointer;
  background-color: #be0711;
}

/*# sourceMappingURL=style.css.map */
